<div class="container">
    <div class="row">
        <div class="col-md-2" style="background-color: rgb(19, 24, 24);">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/assetmasters/list"
                  style="font-size: large; color: azure;">Asset Master</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"
                  style="font-size: large; color: azure;">Vendors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"
                  style="font-size: large; color: azure;">Add User</a>
                </li>
              </ul>

        </div>
        <div class="col-md-10" >
            <router-outlet></router-outlet>
        </div>

    </div>

</div>
