<div class="container">
  <div class="card">
    <div class="card-body">
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="logo-image">
          <img src="assets/img/nissan.png" class="img-fluid">
        </div>&nbsp;
        <a href="#" class="navbar-brand">Nissan</a>

        <!--Menu-->
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item">
            <a href="#" class="nav-link" routerLink="home">Home</a>
          </li>
        </ul>
        <!--SignUp-->
        <ul class="navbar-nav mr-auto" *ngIf="!loginService.isLogged">
          <li class="nav-item">
            <a href="/logins/" class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>
        <!--Logout-->
        <ul class="navbar-nav mr-auto" *ngIf="loginService.isLogged">
          <li class="nav-item">
            <a href="" class="nav-link" >Log Out</a>
          </li>
        </ul>
      </nav>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--footer-->
  <footer>
    <div class="container">
        <span>All rights reserved 2023 @IB10</span>
    </div>
</footer>
</div>
