<div class="container">
  <div class="card">
     <div class="card-body">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="logo-img">
              <img src="assets/img/nissan.png" class="img-fluid">
          </div>&nbsp;
          <a class="navbar-brand" href="#">Home</a>
      </nav>
      <!--app-professor></app-professor-->
      <router-outlet></router-outlet>
     </div>
  </div>
  <footer>
      <div class="container">
          <span>All rights reserved 2023 @Nissan</span>
      </div>
  </footer>
</div>